span.xor {
    background-image: url("../images/xor.png");
    background-repeat: no-repeat;
    background-size: .8em, .8em;
    background-position-y: .2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0px 2px 0px 2px;
}
table.formula {
    font-family: sans-serif;
    font-size: .9em;
    background-color: white;
    margin-left: 2.5em;
    padding: 1em;
    border: 1px solid #aaaaaa;
}
